* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246, 240, 228);
    scroll-behavior: smooth;
}

body {
    background-image: url(kayu.png);
}

.container {
    width: 1000px;
    margin: auto;
    background-image: url(double-bubble-dark.webp);
}

/* navigasi */
.navigasi {
    background-color: rgb(61, 60, 60, 0.667);
    height: 70px;
    width: 955px;
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
    display: flex;  
   	flex-direction: row; 
	align-items: center; 
	justify-content: space-between;
    position: fixed;
    padding-block: 1.3em;
    border-radius: 20px;
    z-index: 9999;
}

.logo img {
	width: 80px;
	height: 80px;
    margin-left: 18px;
}

.menu ul{
    display: flex;  
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 30px;
    padding: 3px;
}

.menu a:hover {
	background-color: rgba(241, 239, 251, 0.753);
	color: black;
    padding: 3px;
    border: 0 solid none;
    border-radius: 5px;
}

/* home */
.home {
    color: rgb(246, 240, 228);
    height: 700px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.profile {
    background-image: url(blob.png);
    width: 340px;
    border-radius: 39%;
}

.profile, .isi_prof {
    margin-top: 170px;
}

.profile img {
    width: 300px;
    border-radius: 100%;
    border: 5px solid rgba(241, 239, 251, 0.753);
}

.isi_prof button {
    margin-top: 30px;
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    border: none;
    font-size: large;
    background-color: rgba(90, 88, 88, 0.667);
    color: white;
}

.isi_prof button:hover {
    color: black;
    background-color: rgba(170, 166, 191, 0.667);
}

.home h2, h1, p {
    margin-top: 10px;
}
  
h1 span:before {
    content: '';
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    font-size: 28px;
}

@keyframes gerak {
    0% {
        content: 'WELCOME!';
    }

    50% {
        content: 'Vernanda Mulia Hamonangan Manurung';
    }

    100% {
        content: 'A STUDENT!';
    }
}

/* about me */
.about1 {
    text-align: justify;
    background-color: rgba(90, 88, 88, 0.667);
    margin: 1.3em;
    margin-top: 78px;
    padding: 50px;
    border-radius: 20px;
}
.about1 h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.about1 img {
    width: 120px;
    height: 120px;
    float: left;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid rgba(241, 239, 251, 0.753);
    margin: 1em 1em 5px 0;
}

/* my skill */
.skill_parent {
    text-align: center;
    margin-top: 175px;
}

.judul_skill {
    font-size: 30px;
	margin-bottom: 35px;
}

.bungkus_skill {
	display: flex;
	flex-direction: row;
	justify-content: center;
    gap: 25px;
}
 
.daftar1 {
	width: 300px;
    height: 435px;
    background-color: rgba(90, 88, 88, 0.667);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

.artikel1 {
    text-align: justify;
}
.artikel1 h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 23px;
}
.artikel1 p{
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: -5px;
}

.daftar1 img {
	width: 100px;
    height: 100px;
}

.daftar1:hover {
    background-color: rgb(88, 86, 84);
    border: 2px solid rgb(226, 226, 225); 
    border-bottom: 7px solid rgb(226, 226, 225); 
}


/* gallery */
.parent_galeri{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(90, 88, 88, 0.667);
    margin: 1.3em;
    padding: 25px;
    gap: 12px;
    border-radius: 20px;
}

.judul_galeri {
    display: flex;
    justify-content: center;
    font-size: 30px;
	margin-bottom: 35px;
    margin-top: 175px;   
}

.galeri1 img{
    width: 225px;
    height: 400px;
    border-radius: 10px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.galeri2 img{
    width: 198px;
    height: 198px;
    border-radius: 10px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
 
.zoom-effect:hover .galeri1 img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.zoom-effect:hover .galeri2 img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

/* portofolio */
.porto_parent {
    text-align: center;
    margin-top: 175px;
}

.judul_porto {
    font-size: 30px;
	margin-bottom: 35px;
}

.bungkus_porto {
	display: flex;
	flex-direction: row;
	justify-content: center;
    gap: 25px;
}
 
.daftar2 {
	width: 465px;
    height: 390px;
	border: none;
    background-color: rgba(90, 88, 88, 0.667);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

.artikel2 {
    text-align: center;
}
.artikel2 h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 23px;
}
.artikel2 p{
    font-size: 16px;
}

.daftar2 img {
	width: 350px;
    height: 185px;
    border-radius: 20px;
}

.daftar2:hover {
    background-color: rgb(88, 86, 84);
    border: 2px solid rgb(226, 226, 225); 
    border-top: 7px solid rgb(226, 226, 225); 
}

/* kontak */
.kontak {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
    margin-top: 175px;
}

.kontak_parent {
    display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;
	font-size: 13px;
}

.kontak_parent h2 {
    font-size: 30px;
}

.kontak_parent h4 {
    margin-top: 15px;
    font-size: 20px;
}

.kontak_parent p {
    line-height: 30px;
    font-size: 15px;
}

.kontak_list {
    display: flex;
	flex-direction: row;
	align-items: center;
    margin-bottom: 10px;
	gap: 5px;
}

.kontak_list p {
    margin-bottom: 10px;
}

.kontak_list .feat {
	background-color: rgb(147, 147, 146);
	color: white;
	padding: 8px;
	border-radius: 5px;
}

.kontak_icon .feat {
	background-color: rgb(147, 147, 146);
	color: white;
	padding: 10px;
	border-radius: 50%;
}

.kontak_icon .feat:hover {
    background-color: rgba(170, 166, 191, 0.667);
}

.kontak_kirim input,textarea{
    display: flex;
	flex-direction: column;
    padding: 8px;
    background-color: rgb(227, 227, 209);
    border: 1px solid grey;
	border-radius: 5px;
    margin-bottom: 5px;
    width: 400px;
    height: auto;
}

.tombol_kirim {
    background-color: rgb(147, 147, 146);
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px;
    width: 418px;
    height: auto;
}
.kontak_kirim .tombol_kirim:hover {
    background-color: rgba(170, 166, 191, 0.667);
    border: 1px solid rgb(227, 227, 209);
}

/* footer */
.foter {
	background-color: #333;
	padding: 10px;
    margin-top: 175px;
}

.foter .copy {
	color: #eaeaea;
    text-align: center;
	font-size: 17px;
}
.coba {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
}